<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head" . }}

<body>
    {{ partial "nav" . }}

    <div class="container">
        <main class="grid">
            <aside class="side-column side-column--show-sm">
                {{ partial "aside" . }}
            </aside>
            <section class="main-column">
                <header class="item-title">
                    {{ .Title }}
                </header>
                <article>
                    {{ .Content | replaceRE "<table.*?>(.|\n)*?</table>" "<div class=\"table-wrapper\">$0</div>" | safeHTML }}
                </article>
            </section>
            <aside class="side-column">
                {{ partial "toc" . }}
            </aside>
        </main>
    </div>

    {{ partial "footer" . }}
</body>

</html>